* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.swipe {
    margin-top: 80px;
    display: flex;
    gap: 50px;
    padding: 80px;
    padding-top: 0px;
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
}

.swipe_card {
    height: 540px;
    width: 930px;
    background-color: aquamarine;
    border-radius: 20px;
    display: flex;

}


.swipe_choose {
    height: 540px;
    width: 260px;
    background-color: rgba(0, 0, 0,0.3);
    border-radius: 20px;
}

.swipe_choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;


}

.swipe_buttons {
    scale: 0.18;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 240px;


}

.swipe_star {
    scale: 1.4;
}

#swipe_img {
    width: 465px;
    height: 540px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#swipeimg {
    width: 465px;
    height: 540px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.swipe_about {
    width: 465px;
    height: 540px;
    background-color: #f3172d;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    color: white ;


}

.swipe_section {

    height: 540px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;


}
#check :hover {
    scale: 1.3;
}
#name_age{
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
}
#bio h1{
    font-size: 50px;
    
}
#bio{
    margin-top: 0px;
    gap: 200px;
    font-size: 25px;
}
#name_age{
    font-weight: 800;
    
}
.location{
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
}
#city{
    padding: 5px;
    font-weight: 1000;
    font-size: 40px;
}